@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../fonts/PlusJakartaSans_Complete/PlusJakartaSans-Regular.eot'), /* IE9+ Compat Modes */
         url('../fonts/PlusJakartaSans_Complete/PlusJakartaSans-Regular.woff2') format('woff2'), /* Super modern browsers */
         url('../fonts/PlusJakartaSans_Complete/PlusJakartaSans-Regular.woff') format('woff'), /* Modern browsers */
         url('../fonts/PlusJakartaSans_Complete/PlusJakartaSans-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
      font-weight:400;
  }
  @font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../fonts/PlusJakartaSans_Complete/PlusJakartaSans-Medium.eot'), /* IE9+ Compat Modes */
         url('../fonts/PlusJakartaSans_Complete/PlusJakartaSans-Medium.woff2') format('woff2'), /* Super modern browsers */
         url('../fonts/PlusJakartaSans_Complete/PlusJakartaSans-Medium.woff') format('woff'), /* Modern browsers */
         url('../fonts/PlusJakartaSans_Complete/PlusJakartaSans-Medium.ttf')  format('truetype'); /* Safari, Android, iOS */
      font-weight:500;
  }
  @font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../fonts/PlusJakartaSans_Complete/PlusJakartaSans-SemiBold.eot'), /* IE9+ Compat Modes */
         url('../fonts/PlusJakartaSans_Complete/PlusJakartaSans-SemiBold.woff2') format('woff2'), /* Super modern browsers */
         url('../fonts/PlusJakartaSans_Complete/PlusJakartaSans-SemiBold.woff') format('woff'), /* Modern browsers */
         url('../fonts/PlusJakartaSans_Complete/PlusJakartaSans-SemiBold.ttf')  format('truetype'); /* Safari, Android, iOS */
      font-weight:600;
  }
  @font-face {
          font-family: 'Plus Jakarta Sans';
          src: url('../fonts/PlusJakartaSans_Complete/PlusJakartaSans-Bold.eot'), /* IE9+ Compat Modes */
               url('../fonts/PlusJakartaSans_Complete/PlusJakartaSans-Bold.woff2') format('woff2'), /* Super modern browsers */
               url('../fonts/PlusJakartaSans_Complete/PlusJakartaSans-Bold.woff') format('woff'), /* Modern browsers */
               url('../fonts/PlusJakartaSans_Complete/PlusJakartaSans-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
            font-weight:700;
  }